.article-container {
    max-width: 100%;
    padding: 0 30px 0 30px;
    /*padding: 0 0 0 0;*/
}

p {
    max-width: 100%;
    padding: 0 30px 0 30px;
    /*padding: 0 0 0 0;*/
}

h1, h2, h3, h4, h5, h6, pre, ol, ul, #TOC, p.page-subtitle, .article-metadata, .author-card, #comments {
    max-width: 760px;
    padding: 0 20px 0 20px;
    margin: 20px auto 20px auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
}

.flex-container > div {
  width: 400px;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}